--index-url http://swrd-mirror.mediatek.inc/repository/pypi/simple
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.1+cu118
torchvision==0.16.1+cu118
torchaudio==2.1.1+cu118
torchtext
ultralytics
ipykernel
ipywidgets
notebook
autoroot
autorootcwd
rootutils
pydantic
pyautogui
onnxruntime
omegaconf
rich
